{% extends "layout.html" %}
{% block title %}
    Produtos
{% endblock %}

{% block main %}

    <!-- todos os produtos  -->
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <table class="table container-sm text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço/Un</th>
                    <th>Disponível</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                    <tr>
                        <form action="{{ url_for('cashier.edit_product') }}" method="get">
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <input type="hidden" name="product_name" value="{{product.product_name}}">
                            <input type="hidden" name="price" value="{{product.price}}">
                            <input type="hidden" name="available" value="{{product.available}}">
                            <td>{{product.product_name.capitalize()}}</td>
                            <td>{{product.price | to_reais }}</td>
                            <td>{{product.available}}</td>
                            <td><button type="submit" class="btn btn-primary">Edit</button></td>
                            <!-- <td></td> -->
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Adicionar novo produto</h2>
        <form action="{{ url_for('cashier.add_product') }}" method="post" class="container-sm text-center">
            <input type="text" name="product_name" placeholder="nome do produto" class="form-control mb-1" required>
            <input type="number" name="available" placeholder="Quantidade disponível" class="form-control mb-1" required>
            <input type="number" name="price" class="form-control" placeholder="Preço" step="0.01" required>
            <button type="submit" class="btn btn-primary">Adicionar produto</button>
        </form>
    </div>

{% endblock %}